<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/planatrip.css">
</head>
<body>
     
  <form action="/mainlogin/pat" method="post">
  <div class="hotelcontain">
        <% for( let i = 0; i < data3.length; i++ ) { %>

            <label for="checks"><input type="radio" class="position shadow check" name="checks"> 
<img src="<%= data3[i].image%>" alt="" class="patimg"><p><b><%= data3[i].title %> </b><br> &#8377; <%= data3[i].Price.toLocaleString("en-IN") %>/nigth</p>
</label>       
<% } %> 
         <button>Done</button>
</div>
</form>
</body>
</html>